body {
margin-left: 500px;
margin-right: 500px;

}
h1 {
color: red;
font-size: 50px;
}
nav {
	color: green;
}
p {
	font-family: arial;
	font-size: 25px;
	text-align: justify;
	
	line-height: 1.2;
}
img {
	width: 100%;
  height: auto;
}